name: sync-dd
on: 
  schedule: 
  - cron: '0 10 * * *'
  workflow_dispatch: 
  watch: 
   types: started 
  repository_dispatch:
    types: sync-WowYiJiu
jobs: 
 repo-sync: 
     env: 
       PAT: ${{ secrets.PAT }} 
     runs-on: ubuntu-latest 
     if: github.event.repository.owner.id == github.event.sender.id 
     steps: 
      - uses: actions/checkout@v2 
        with: 
          persist-credentials: false 
    
      - name: sync Shallowhave/sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/shufflewzc/faker2.git"
          source_branch: "main" 
          destination_branch: "main"
          github_token: ${{ secrets.PAT }}
